<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">

                <fieldset class="form-group">
                    <label>Name of the organisation:</label><input type="text">
                    
                </fieldset>

                <fieldset class="form-group">
                    <label>Email-Id:</label>
                    <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                    <label>Full Name : </label>
                    <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                    <label>Mobile No: </label>
                    <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                    <label>Roll No: </label>
                    <input class="text" placeholder="">
                </fieldset>
                
                <fieldset class="form-group">
                    <label>Citizenship: </label>
                    <input class="text" placeholder="">
                </fieldset>
                
                <fieldset class="form-group">
                    <label>Father's Name: </label>
                    <input class="text" placeholder="">
                </fieldset>
                
                <fieldset class="form-group">
                    <label>Mother's Name: </label>
                    <input class="text" placeholder="">
                </fieldset>
                
                

                <fieldset class="form-group">
                    <label>Address</label>
                    <b>Permanent</b>
                </fieldset>

                <fieldset class="form-group">
                        <label>House Number,Street :</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>City,Pin :</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>State,Country :</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>Landline Number :</label>
                        <input class="text" placeholder="">
                </fieldset>


                <div class="form-group">
                    <label>Languages Known :</label>
                    <label class="checkbox-inline">
                        <input type="checkbox">English
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Hindi
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox">Punjabi
                    </label>
                    
                </div> 

            </form>

        </div>
        <div class="col-lg-6">

                <fieldset class="form-group">
                        <label>Gender :</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>Skype Id :</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>Date of Birth :</label>
                        <input class="text" placeholder="">
                </fieldset>


                <fieldset class="form-group">
                        <label>Age :</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>Occupation:</label>
                        <input class="text" placeholder="">
                </fieldset>

                <fieldset class="form-group">
                        <label>Occupation :</label>
                        <input class="text" placeholder="">
                </fieldset>
        
            
            </div>
    </div> <!-- /.row -->

    <b>Academic Records:</b><br>
    <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
            
            <TR>
               <TH>Examination</TH>
               <TH>Board</TH>
               <TH>Name of the College/School</TH>
               <TH>Year</TH>
               <TH>Marks/CGPA obtained</TH>
               <TH>CGPA/%age</TH>
               <TH>Division</TH>
               
            </TR>
            <TR ALIGN="CENTER">
               <TD>Class X</TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               
            </TR>

            <TR ALIGN="CENTER">
                    <TD>Class XII</TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    
                 </TR>
                 <TR ALIGN="CENTER">
                        <TD>Diploma</TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        
                     </TR>

                     <TR ALIGN="CENTER">
                            <TD>College</TD>
                            <TD><input class="text" placeholder=""></TD>
                            <TD><input class="text" placeholder=""></TD>
                            <TD><input class="text" placeholder=""></TD>
                            <TD><input class="text" placeholder=""></TD>
                            <TD><input class="text" placeholder=""></TD>
                            <TD><input class="text" placeholder=""></TD>
                            
                         </TR>
         </TABLE><br>
         <b>Masters:Mtech/MBA/ME/MCA/Msc.</b><br>
    <TABLE BORDER="5"    WIDTH="100%"   CELLPADDING="4" CELLSPACING="3">
            
            <TR>
               <TH>Semester</TH>
               <TH>Year</TH>
               <TH>GPA Obtained</TH>
               <TH>CGPA Obtained</TH>
               <TH>Division</TH>
             </TR>

             <TR ALIGN="CENTER">
               <TD>1st</TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               <TD><input class="text" placeholder=""></TD>
               
               
            </TR>

            <TR ALIGN="CENTER">
                    <TD>2nd</TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                    <TD><input class="text" placeholder=""></TD>
                 </TR>

                 <TR ALIGN="CENTER">
                        <TD>3rd</TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                </TR>
                <TR ALIGN="CENTER">
                        <TD>4th</TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                </TR>

                <TR ALIGN="CENTER">
                        <TD>5th</TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                </TR>

                <TR ALIGN="CENTER">
                        <TD>6th</TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                        <TD><input class="text" placeholder=""></TD>
                </TR>

            </TABLE>
            <br>
            <div class="row">
                <b>Academic achievements :</b>
            </div>
            <div class="row">
                    <textarea id="achievements" rows="2" cols="150"></textarea>
            </div>
            <br>
            <div class="row">
                <b class="an">Internship and Projects during graduation</b>
            </div>
            <div class="row">
                    <div class="col-lg-6">
                        <label>Company :</label>
                        <textarea id="company" rows="1" cols="35"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <label>Duration(from-to) :</label>
                        <textarea id="duration" rows="1" cols="40"></textarea>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                <label>Project Title: </label>
                </div>
            </div>
            <div class="row">
                <textarea id="proejct_title" cols="150" rows="5"></textarea>
            </div>
            <br>
        
            <div class="row">
                    <div class="col-lg-6">
                        <label>Company :</label>
                        <textarea id="company" rows="1" cols="35"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <label>Duration(from-to) :</label>
                        <textarea id="duration" rows="1" cols="40"></textarea>
                    </div>
            </div>
        
            <div class="row">
                <div class="col-lg-6">
                <label>Project Title: </label>
                </div>
            </div>
            <div class="row">
                <textarea id="proejct_title" cols="150" rows="5"></textarea>
            </div>

            <div class="row">
                <b>Extracurricular activities </b>
            </div>
            <div class="row">
                <textarea id="extra_curr" rows="3" cols="135"></textarea>
            </div>
            <div class="row">
                <p><b>I hereby declare that the particulars given herein are true and complete to the best of my knowledge and belief.</b></p>
            </div>
            <div class="row">
                <div class=col-lg-6>
                    <label><b>Place :</b></label>
                    <input class="text">
                </div>
                <div class="col-lg-6">
                    <label>Signature :</label>
                    <input class="text" placeholder="">
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                <label><b>Date :</b></label>
                <input class="text" placeholder="">
                </div>
            </div>
            
</div>
